.app
	width 500px
	padding 20px 0
	
.form
	&-wrapp
		margin auto
		
	&__input
		width 100%
		padding 0.35rem .75rem
		
	&__button
		float right

.list
	margin-bottom 20px
	
	&-group-item
		padding 0.35rem .75rem
		
label
	font-size .9rem
